@import "~/../../../../styles/theme/index.scss";
.cards {
    display: flex;
    flex-wrap: wrap;
	max-width: 1920px;
}

.search {
    display: flex;
    justify-content: center;
}

.search input {
    width:300px;
    height:40px;
    font-size:17px;
    margin:10px 0 25px 0;		
}

.add-card {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.add-card mat-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: box-shadow 0.5s;
    width: 100%;
    min-width: 300px;
    min-height: 310px;
}

.add-card mat-card:hover {
    box-shadow: -1px 7px 23px -5px #030303;
    transition: 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    border-radius: 5px;
}

.add-icon {
    font-size: 10em;
    color: $bg-color;
}

.cards-item {
    width: 20%;
    margin-right: 6.6%;
    display: flex;
    justify-content: center;
}

.cards-item:nth-of-type(4n) {
    margin-right: 0;
}

@media (max-width: 1700px) {
    .cards-item {
        width: 30%;
        margin-right: 5%;
    }
    .cards-item:nth-of-type(4n) {
        margin-right: 5%;
    }
    .cards-item:nth-of-type(3n) {
        margin-right: 0;
    }
}

@media (max-width: 1440px) {
    mat-card {
        max-width: 400px;
    }
    .cards-item {
        width: 48%;
        margin-right: 4%;
    }
    .cards-item:nth-of-type(4n) {
        margin-right: 4%;
    }
    .cards-item:nth-of-type(3n) {
        margin-right: 4%;
    }
    .cards-item:nth-of-type(2n) {
        margin-right: 0;
    }
}

@media (max-width: 1080px) {
    .mat-card [_ngcontent-c8] {
        width: 100%;
    }
    .cards-item {
        width: 100%;
        margin-right: 0%;
    }
    .cards-item:nth-of-type(4n) {
        margin-right: 0%;
    }
    .cards-item:nth-of-type(3n) {
        margin-right: 0%;
    }
    .cards-item:nth-of-type(2n) {
        margin-right: 0;
    }
    card-content {
        width: 22%;
        margin-right: 3.3%;
    }
    card-content:nth-of-type(4n) {
        margin-right: 0;
    }
}