<button mat-icon-button (click)="goHome()">
    <i class="material-icons">keyboard_backspace</i>
</button>
<!-- <div class="search"><input [(ngModel)]="term"></div>  -->
<div class="cards">
    <!-- что это за блок?? -->
    <div></div>
    <shop-item class="cards-item" *ngFor="let car of (cars$ | async)" [car]="car" (click)="onClick(car._id)" (editClick)="onEditClick(car._id)" (deleteClick)="onDeleteClick($event)"></shop-item>
    <div class="add-card cards-item" (click)="onAddClick()">
        <mat-card>
            <i class="material-icons add-icon">add_circle_outline</i>
        </mat-card>
    </div>
</div>
<!-- {{cars$ | async | json}} -->
