<!-- <input [(ngModel)]="searchString" /> -->
<!-- {{searchData$ | async | json}} -->
<input class="search-input" type="text" placeholder="Search" [(ngModel)]="searchString" (blur)="onBlur()">
<ul *ngIf="searchString">
    <li *ngFor="let item of carSearch$ | async | search:searchString" (click)="onClick(item)">
        <img src={{item.img}}>
        {{item.title}}
        {{item?.model}}
    </li>
</ul>

