// input{
//     border-radius: 4px;
//     margin: 16px auto 0px;
//     height: 40px;
//     padding-left: 16px;
//     width: 173px;
//     font-size: 16px;
// }

ul{
	width: 80%;
	margin: 2px auto 20%;
}

li:last-of-type{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
li{
    background: transparent;
    display: flex;
    align-items: center;
	overflow: hidden;
	color: #ffffff;
    // vertical-align: middle;
}
li:hover{
    background: lightgray;
    cursor: pointer;
}
img{
    width: 60px;
    height: 40px;
    object-fit: contain;
    margin-right: 4px;
    border-radius: 4px;
}

    .search-input {
        width: 80%;
        padding: 12px 24px;
        font-size: 14px;
        line-height: 18px;
        color: #ffffff;
        background-color: transparent;
        background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg);
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #ffffff;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
		transform-style: preserve-3d;
		margin-top: 10px;
        
        &::placeholder {
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
        
        &:hover,
        &:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #ffffff;
            border-radius: 0;
            background-position: 100% center;
        }
    }